<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.serviceModel" type="System.ServiceModel.Configuration.ServiceModelSectionGroup, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="standardEndpoints" type="System.ServiceModel.Configuration.StandardEndpointsSection, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="docFolder" value="~/Docs"/>
		<add key="logFolder" value="~/Logs"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<customErrors mode="On" redirectMode="ResponseRewrite"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="false"/>
		<!-- Suppresses details for undefined paths -->
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<clear/>
		</httpErrors>
		<handlers>
			<!-- Bypasses OOTB static file handler for WebFS REST -->
			<add name="ApiURIs-ISAPI-Integrated-4.0" path="/api/webfs/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<!-- Enables HttpContext.Current -->
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
		<behaviors>
			<serviceBehaviors>
				<behavior name="RestSvcBehaviour">
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
					<serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="RestEndBehaviour">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="BFS.BasicFileServerNET" behaviorConfiguration="RestSvcBehaviour">
				<endpoint binding="webHttpBinding" contract="BFS.IWebFileServer" behaviorConfiguration="RestEndBehaviour"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>